
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Font awesome
@import '~@fortawesome/fontawesome-free/css/all';

//queen
@import  'components/queen';

//import selectize 
@import '~selectize/dist/css/selectize';

//import froala-editor
@import '~trumbowyg/dist/ui/trumbowyg.min';

//import toastr
@import '~toastr/build/toastr';