/* start style sidebar */
#body-row {
  margin-left:0;
  margin-right:0;
}

#sidebar-container {
  min-height: 100vh;   
  background-color: #333;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;    
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* end style sidebar*/

.sticky-footer{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
}


.m-l-5 {
  margin-left: 5px; 
}

.m-r-5 {
  margin-right: 5px; 
}

.m-t-5 {
  margin-top: 5px; 
}

.m-b-5 {
  margin-bottom: 5px; 
}

.m-l-10 {
  margin-left: 10px; 
}

.m-r-10 {
  margin-right: 10px; 
}

.m-t-10 {
  margin-top: 10px; 
}

.m-b-10 {
  margin-bottom: 10px; 
}

.input-container {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

input[type='file'] {
  display: none;
}

.file-info {
  font-size: 0.9em;
  color: #6e6e6e;
}

.browse-btn {
  background: #3490dc;
  color: #fff;
  min-height: 35px;
  padding: 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.browse-btn:hover {
  background: #3490dc;
}

.trumbowyg-box, .trumbowyg-editor{
  margin: 0 !important;
  position: sticky !important;
}

.trumbowyg-editor{
  background-color: #fff;
}

.selectize-dropdown{
  position: absolute !important;
}

.container{
  padding-bottom: 35px;
}

.container.my-auto{
  padding-bottom: 10px;
}

.p-initial{
  padding: initial;
}

.w-200{
  width: 200px;
}

.w-500{
  width: 500px;
}

#toast-container{
  margin-top: 50px;
}

#btn-collapse{
  color: #fff;
}

.dropdown-menu.dropdown-menu-right.show{
  margin-top: 7px;
}

.scroll-x-auto{
  overflow-x: auto;
}

@media (max-width: 300px) {
  button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
  
  .file-info {
    display: block;
    margin: 10px 5px;
  }
}

.show-large {
  display: none;
}

@media only screen and (min-width: 767px) {
  .show-large {
    display: block;
  }

  .show-mobile {
    display: none;
  }
}